*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: auto;
    width: auto;
}
.nav{
    min-height: 50vh;
    width: 100%;
    display: flex;
}
.navlist{
    display: flex;
    gap: 1.5rem;
    height: 9vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    
}
.navlist li:nth-child(1):hover{
    background-color: purple;
}
.navlist li:nth-child(2):hover{
    background-color: purple;
}
.navlist li:nth-child(3):hover{
    background-color: purple;
}
.navlist li:nth-child(4):hover{
    background-color: purple;
}
.navlist li:nth-child(5):hover{
    background-color: purple;
}
.navlist li{
    list-style: none;
    cursor: pointer;
    border-radius: 50%;
}
.navlist li a{
    text-decoration: none;
    color: white;
    font-size: .8rem;
}
.left{
    height: 70vh;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: black;
    padding-left: 1.5rem;
}

.social .fa-brands{
    color: white;
    font-size: 1rem;
}
.social .fa-brands:hover {
    cursor: pointer;
    background: linear-gradient(white,purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.social{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .6rem;
}
.content{
    margin-left: 2rem;
}
.content h2{
    font-size: .7rem;
    color: grey;
}
.content h2 #name{
    font-size: larger; 
    color: purple;
}
.content h1{
    font-size: 1rem;
    color: grey;
}
.content p{
    font-size: .7rem;
    color: blanchedalmond;
    max-width: 15rem;
    margin: .3rem 0 1rem 0;
    line-height: 1rem;
}
.buttons button{
    border: .1rem solid grey;
    font-size: .5rem;
    padding: .3rem .9rem ;
    border-radius: 30%;
    cursor: pointer;
    background:linear-gradient(black,purple);
    color:darkgrey;
    font-weight: bolder;
    margin-left: 2rem;
}
button:nth-child(1):hover{
    background:transparent ;
    color: cadetblue;
}
.cer{
    background:linear-gradient(black,purple);
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: last baseline;
    font-size: .7rem;
}
.design .circle{
    aspect-ratio: 1;
    position:absolute;
    border-radius: 50%;
    top:33%;
    left:80%;
    transform: translate(-50%,-50%);
}
.circle:nth-child(1){
    background: black;
    width: 10rem;
    border: .1rem solid grey;
    box-shadow:
    0 0 .7rem grey,
    inset 0 0 .7rem grey,
    0 0 .9rem purple,
    inset 0 0 .9rem purple;
}
.circle:nth-child(2){
    background-image:url("./image/profile.jpeg");
    background-size:100%;
    width: 8rem ;
    background-repeat: no-repeat;
    border: .1rem solid grey;
    box-shadow:
    0 0 .7rem grey,
    inset 0 0 .7rem grey,
    0 0 .9rem purple,
    inset 0 0 .9rem purple;
}